Body{
    background-color: skyblue ;

}

#wrapper {
        max-width: 1200;
        margin:0 auto; 
        background-color: ;
        padding: ;
        }

    body{
            background-image: url("img/bluey_base.jpg");
            background-repeat: no-repeat;
            background-position: -100px 1em;
            background-size: 1000px 100%;   
        }