Body{
    background-color: ;

}

#wrapper {
        width: ;
        margin-left: auto;
        margin-right: auto;
        background-color: ;
        padding: ;


    }

    header{
            /*background-image: url("");
            background-repeat: no-repeat;
            background-position: top right;
            background-size: %; */

            background: linear-gradient(),
            url("") no-repeat top right/70%,
            black;
            padding: em;
    }




    .btn{

        display: block;
        background-color: ;
        color: ;
        padding: px;
        border-radius: px;
        width: em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;


    }